
h1 {color: blue
    ; font-family: Helvetica
    ; font-weight:900}

h2 {color:red}

h3{color:green; font-family:monospace; font-size: 45px
;background-color: DarkCyan;opacity:1.25
}

h4{color:gray; font-family:cursive;font-size: 35px}

<body>
    {background-color: DarkCyan;}

headtwo {
    font-family: Helvetica
    ;color: green
    ;font-size: 25px
    ;font-weight: bold
}

foot{font-size: 48px; font-weight: bold
    ;background-color: DarkCyan; opacity:0.5}

p.p1{font-size: 55;color:Black; background-color: pink
    ;opacity:0.55;font-family: fantasy;text-align: center;}

.page {color: red; font: helvetica;font-weight:900
    border: 10px solid #665544;background-color: lightblue
    ;font-size:400%; font-weight:bold;opacity:0.5
    }

.priority{font-family:Arial !important;}
